html{
    cursor: url(../../assets/fotos/mata_mosca.png) 30 30 , auto;
}
body{
    background-image: url(../../assets/fotos/bg.jpg);
    background-repeat: no-repeat ;
}
.mosquito1{
    width: 50px;
    height: 50px;
}
.mosquito2{
    width: 70px;
    height: 70px;
}
.mosquito3{
    width: 90px;
    height: 90px;
}
.LadoA{
    transform: scaleX(1);
}
.LadoB{
    transform: scaleX(-1);
}
.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top:solid 1px #fff;
	background-color: #fff;
	opacity: 0.7
}

.vidas {
	float: left;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}