<!--Photo by <a href="https://unsplash.com/@markusspiske?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Markus Spiske</a> on <a href="https://unsplash.com/s/photos/hack?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
<header id="header">
  <nav class="container">
    <a class="logo" href="#">Mat<span>Dev</span>.</a>
    <!-- menu -->
    <div class="menu">
      <ul class="grid">
        <li><a class="title" href="#home">Início</a></li>
        <li><a class="title" href="#about">Sobre</a></li>
        <span class="dropdown">
          <li><a class="title" href="#projects">Projetos</a></li>
          <span class="dropdown-child">
            <a href="mataMosca">Mata Moscas</a>
            <a href="ticTacToe">Tic Tac Toe</a>
            <a href="calc">Calculadora</a>
          </span>
        </span>
        <li><a class="title" href="#contact">Contato</a></li>
      </ul>
    </div>
    <!-- /menu -->
    <div class="toggle icon-menu"></div>
    <div class="toggle icon-close"></div>
  </nav>
</header>